extends header

block content
	main(role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3")
		h2 考题
		div
			textarea(id="items",style="display:none;")= JSON.stringify(rows)
		div(class="row" id="searchdiv")
			div(class="col-lg-3")
				div(class="form-group")
					input(id="types" name="types" value= types class="form-control" placeholder="科目" )
			div(class="col-lg-3")
				div(class="form-group")
					input(id="chapter" name="chapter" value= chapter class="form-control" placeholder="章节" )
			div(class="col-lg-3")
				div(class="form-group")
					input(id="titles" name="titles" value= titles class="form-control" placeholder="题目" )
			div(class="col-lg-3")
				div(class="form-group")
					button(id="questionBtn" class="btn btn-primary" onclick="search(this)") 查询
		div(class="table-responsive")
		table(id="table1" class="table table-hover")
			thead
			tr
				th
					button(class="btn btn-info" onclick="popup(this)") 添加
				//th(style="display:none;") id
				th 题目
				//th 代码
				th 选项
				th 创建时间
			tbody
			each row in rows
				tr
				each val, key in row
					if key == 'seq'
						td(scope="row",style="min-width:20px;max-width:40px;white-space:nowrap;overflow:hidden;") 
							button(id=row['id'],class="btn btn-info" onclick="popup(this)")= val
							button(name=row['id'],class="btn btn-warning" onclick="deleteQuestion(this)") 删除
					else if key == 'choices'
						td(scope="row",style="min-width:20px;max-width:100px;white-space:nowrap;overflow:hidden;")= JSON.stringify(val)
					else if key == 'title'
						td(scope="row",style="min-width:160px;max-width:300px;white-space:nowrap;overflow:hidden;")= val
					else if key == 'code'
						//td(scope="row",style="max-width:120px;white-space:nowrap;overflow:hidden;")= val
					else if key == 'id' || key == 'answer'
						//td(scope="row",style="display:none;")= val
					else
						td(scope="row",style="max-width:120px;white-space:nowrap;overflow:hidden;")= val
		include footer